body, html {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.center-items {
    display: grid;
    place-items: center;
}

.max-width {
    width: 430px;
    max-width: 100%;
    margin: 0 1.5em;
}

/* CURRENT WEATHER INFO START */
.current-weather-info .flex-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-weather-info .location.city {
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}

.current-weather-info .location.state {
    font-size: 1.125em;
    font-weight: 500;
    margin: 0;
    opacity: 0.5;
}

.current-weather-info .temperature {
    font-size: 7em;
}

.current-weather-info .description {
    font-size: 1.25em;
    margin: 0;
}

.current-weather-info .high-low-temps {
    display: flex;
    column-gap: 1em;
    font-size: 1.25em;
}

.current-weather-info .high-low-temps p {
    margin: 0;
}
/* CURRENT WEATHER INFO END */


/* HOURLY WEATHER FORECAST START */
.hourly-forecast {
    margin: 3em 0 0 0;
    padding: 0.5em 0.75em;
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(68, 68, 68, 0.125);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.hourly-forecast .forecast-row {
    display: flex;
    column-gap: 2em;
    overflow-x: scroll;
    scrollbar-width: none;
}

.hourly-forecast .forecast-row::-webkit-scrollbar {
    display: none;
}

.hourly-forecast .forecast-row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5em;
}

.hourly-forecast .forecast-row .temp-hour {
    font-size: 1.25em;
}
/* HOURLY WEATHER FORECAST END */